{% load static %}
<section class="advantages width_full section_padding-y section_padding-x">
    <div class="advantages__container d-flex flex_column flex-align_center">
        <div class="advantages__title font_extra-large text_upper mb_40">БЫСТРО. КАЧЕСТВЕННО. ЗАКОННО.</div>
        <h2 class="advantages__text font_thin text_grey">У нас Вы можете обменять пришедший
            в негодность государственный номерной знак
            на новый, а так же восстановить утерянный
            в течение 5−10 минут без изменения серии,
            номера и кода региона
        </h2>
        <div class="advantages__items flex_wrap d-flex flex-justify_space-arnd">
            <div class="advantages__item d-flex width_full ">
                <img class="pros__icon mr_20" src="{% static 'img/clock2.png' %}" alt="">
                <div class="pros__items d-flex flex_column">
                    <div class="pros__title font_m">Изготовление номера за 5 минут</div>
                    <p class="pros__text text_grey">Мы изготавливаем дубликаты номеров на современном
                        <b>новом оборудовании</b> в соответствии с требованиями
                        законодательства Российской Федерации
                    </p>
                </div>
            </div>
            <div class="advantages__item d-flex width_full">
                <img class="pros__icon mr_20" src="{% static 'img/quest_easy.png' %}" alt="">
                <div class="pros__items d-flex flex_column">
                    <div class="pros__title font_m">Официальные номера из металла</div>
                    <p class="pros__text text_grey">Мы получили <b>все необходимые лицензии</b> и разрешения на
                        изготовление номеров. Вы получаете идентичный номер, как
                        выдает ГИБДД</p>
                </div>
            </div>
            <div class="advantages__item d-flex width_full">
                <img class="pros__icon mr_20" src="{% static 'img/travel_passport.png' %}" alt="">
                <div class="pros__items d-flex flex_column">
                    <div class="pros__title font_m">Без предварительной подачи документов</div>
                    <p class="pros__text text_grey">При онлайн заказе Вам <b>не нужно предъявлять никаких
                        документов</b>, но при получении Вам обязательно понадобится
                        Паспорт и Свидетельство о регистрации ТС</p>
                </div>
            </div>
            <div class="advantages__item d-flex width_full">
                <img class="pros__icon mr_20" src="{% static 'img/education_location.png' %}" alt="">
                <div class="pros__items d-flex flex_column">
                    <div class="pros__title font_m">Удобное расположение</div>
                    <p class="pros__text text_grey">Мы находимся в г. Хабаровске <b>по трем удобным для Вас
                        адресам</b></p>
                </div>
            </div>
            <div class="advantages__item d-flex width_full">
                <img class="pros__icon mr_20" src="{% static 'img/car.png' %}" alt="">
                <div class="pros__items d-flex flex_column">
                    <div class="pros__title font_m">Бесплатная доставка в течение часа</div>
                    <p class="pros__text text_grey">Новенькие дубликаты номеров, не выходя из дома или офиса
                        и главное, <b>совершенно бесплатно</b></p>
                </div>
            </div>
            <div class="advantages__item d-flex width_full">
                <img class="pros__icon mr_20" src="{% static 'img/banknota.png' %}" alt="">
                <div class="pros__items d-flex flex_column">
                    <div class="pros__title font_m">Без сдачи старых номеров</div>
                    <p class="pros__text text_grey"><b>Нет необходимости указывать причину утраты номеров</b> и
                        сдавать пришедшие в негодность номера</p>
                </div>
            </div>
        </div>
        <button type="button" onclick="buttonNavigation(' catalogue')"
                class="order-number__button bg_accent rounded_10 text_upper button_border font_bold font-small
                btn_large">
            заказать номер
        </button>
    </div>
</section>