{% load static %}
<section class="comments width_full section_padding-y section_padding-x" id="comments">
    <div class="comments__container d-flex flex_column flex-align_center">
        <div class="comments__heading font_extra-large mb_30 text_upper">Отзывы наших клиентов</div>
        <div class="comments__items mb_30 flex_wrap d-flex flex-justify_space-btw">
            <div class="comments__item width_full">
                <div class="comment-text__container rounded_10 width_full bg_white">
                    <p class="comment__text font_xxs font_thin text_grey">Заказал квадратный номер. Изготовили быстро, в
                        течение 30 минут после заказа доставили в аэропорт. На
                        мой вопрос о доплате за доставку получил ответ: «Ничего
                        не надо, людям надо помогать». Большие молодцы.
                        Благодарю за работу. Успеха вам🤝
                    </p>
                    <div class="comment__tail"></div>
                </div>
                <div class="comment__author text_upper">Артем Агаев</div>
                <div class="comment__date font-small font_thin">19 октября 2022</div>
            </div>
            <div class="comments__item width_full">
                <div class="comment-text__container rounded_10 width_full bg_white">
                    <p class="comment__text font_xxs font_thin text_grey">Заказал в 14 часов, в 15-40 номер уже
                        доставили. <br>
                        Успехов.
                    </p>
                    <div class="comment__tail"></div>
                </div>
                <div class="comment__author text_upper">МАКСИМ СМЕЛОВ</div>
                <div class="comment__date font-small font_thin">17 октября 2022</div>
            </div>
            <div class="comments__item width_full">
                <div class="comment-text__container rounded_10 width_full bg_white">
                    <p class="comment__text font_xxs font_thin text_grey">Вечером написал, на следующий день в обед
                        привезли
                        прям ДОМОЙ, парень поднялся в квартиру и отдал номер
                        с рамкой. Спасибо за сервис!
                    </p>
                    <div class="comment__tail"></div>
                </div>
                <div class="comment__author text_upper">НИКИТА МОСТОВЕНКО</div>
                <div class="comment__date font-small font_thin">9 октября 2022</div>
            </div>
            <div class="comments__item width_full">
                <div class="comment-text__container rounded_10 width_full bg_white">
                    <p class="comment__text font_xxs font_thin text_grey">Я водитель-междугородник. Обратился в выходной
                        день.
                        Без проблем привезли прямо на трассу. Рекомендую
                        всем. Спасибо.
                    </p>
                    <div class="comment__tail"></div>
                </div>
                <div class="comment__author text_upper">Николай Лапичев</div>
                <div class="comment__date font-small font_thin">26 августа 2022</div>
            </div>
        </div>
        <div class="buttons__container d-flex flex-justify_space-btw mt_30">
            <a href="https://go.2gis.com/jf4ga" target="_blank"
               class="comments__link bg_accent rounded_10 button_border font_bold font-small btn_large">Отзыв
                на филиал «Ухтомского 57Б»</a>
            <a href="https://2gis.ru/khabarovsk/firm/70000001007294162" target="_blank"
               class="comments__link bg_accent rounded_10 button_border font_bold font-small btn_large">Отзыв
                на филиал «Индустриальная 7»</a>
            <a href="https://2gis.ru/khabarovsk/firm/70000001031950137" target="_blank"
               class="comments__link bg_accent rounded_10 button_border font_bold font-small btn_large">Отзыв
                на филиал «Восточное шоссе 22»</a>
        </div>
    </div>
</section>