{% load static %}
<section class="running__text bg_accent font_xs">
    <div class="marquee width_full">
        <div class="marquee_container d-flex">
            <div class="marquee_item font_bold font_xs text_upper">ДОСТАВКА ПО ДАЛЬНЕМУ ВОСТОКУ В БЛИЖАЙШИЕ РЕГИОНЫ
                РОССИИ &middot; НОМЕРА ПО ГОСТУ
                &middot; АКСЕССУАРЫ &middot; ЗНАКИ ДОПОГ &middot; ДУБЛИКАТЫ НОМЕРОВ В ХАБАРОВСКЕ ЗА 5 МИНУТ &middot;

            </div>
            <div class="marquee_item font_bold font_xs text_upper">
                ДОСТАВКА ПО ДАЛЬНЕМУ ВОСТОКУ В БЛИЖАЙШИЕ РЕГИОНЫ РОССИИ &middot; НОМЕРА ПО ГОСТУ &middot;
                АКСЕССУАРЫ &middot; ЗНАКИ ДОПОГ &middot; ДУБЛИКАТЫ НОМЕРОВ В ХАБАРОВСКЕ ЗА 5 МИНУТ &middot;
            </div>
            <div class="marquee_item font_bold font_xs text_upper">ДОСТАВКА ПО ДАЛЬНЕМУ ВОСТОКУ В БЛИЖАЙШИЕ РЕГИОНЫ
                РОССИИ &middot; НОМЕРА ПО ГОСТУ
                &middot; АКСЕССУАРЫ &middot; ЗНАКИ ДОПОГ &middot; ДУБЛИКАТЫ НОМЕРОВ В ХАБАРОВСКЕ ЗА 5 МИНУТ &middot;
            </div>
            <div class="marquee_item font_bold font_xs text_upper">ДОСТАВКА ПО ДАЛЬНЕМУ ВОСТОКУ В БЛИЖАЙШИЕ РЕГИОНЫ
                РОССИИ &middot; НОМЕРА ПО ГОСТУ
                &middot; АКСЕССУАРЫ &middot; ЗНАКИ ДОПОГ &middot; ДУБЛИКАТЫ НОМЕРОВ В ХАБАРОВСКЕ ЗА 5 МИНУТ &middot;
            </div>
        </div>
    </div>
</section>