{% load static %}
<div class="phone-input d-flex">
    <input type="tel" name="phone" value="+7"
           class="form__input width_full pl_10 py_20 text_grey mb_10" id="phone">
    <input type="text" id="phoneNum" placeholder="(999) 999-99-99"
           class="form__input width_full pl_10 py_20 text_grey">
</div>

<div class="is_valid valid_phone font_extra-small block_hidden">Укажите, пожалуйста, корректный
    номер телефона
</div>
<div class="is_valid short_value font_extra-small block_hidden">Слишком короткое значение
</div>