{% load static %}
<div class="successful__container py_20 pl_20 pr_20 bg_white d-flex flex_column"
     id="successfulOrder">
    <div class="success__heading py_20 font_l mb_40">Ваш заказ</div>
    <div class="success__item width_full bg_accent font_thin text_grey font_m">
        Спасибо, мы свяжемся с вами для подтверждения заявки.
    </div>
    <div class="form__policy width_full font_thin text_grey">Отправляя запрос, Вы подтверждаете, что
        ознакомились с Политикой в отношении обработки персональных данных
    </div>
</div>