{% load static %}
<div class="cookie-popup bg_white d-flex flex_column flex-align_center">
    <div class="close-button cursor_pointer width_full d-flex flex-justify_end " onclick="closeCookiePopup()">&#10006;
    </div>
    <p class="cookie__text font-small pl_15 pr_15 mb_20">Сайт использует cookie (файлы с данными о прошлых посещениях сайта) для
        персонализации сервисов и
        удобства пользователей
    </p>
    <button type="button" onclick="closeCookiePopup()"
            class="order-number__button rounded_10 mb_10  button_border font_bold  btn_extra-small">ОК
    </button>
</div>